<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>AndironManager</display-name>
	<welcome-file-list>
		<welcome-file>WorkSpace/dashboard/index.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<description>
				For uploading raw files
		</description>
		<display-name>UploadFileServlet</display-name>
		<servlet-name>UploadFileServlet</servlet-name>
		<servlet-class>servlet.dashboard.UploadFileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadFileServlet</servlet-name>
		<url-pattern>/uploadFile</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
				For Analyzing the new files
		</description>
		<display-name>AnalyzeFileServlet</display-name>
		<servlet-name>AnalyzeFileServlet</servlet-name>
		<servlet-class>servlet.dashboard.AnalyzeFileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AnalyzeFileServlet</servlet-name>
		<url-pattern>/analyzeFile</url-pattern>
	</servlet-mapping>
</web-app>